registry=https://registry.npmmirror.com
node-linker=hoisted
virtual-store-dir-max-length=60
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
